html,body {
    margin: 0;
    padding: 0;
    background-color: black;
    color: bisque;
}


.flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
}


.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;


    width: 480px;
    height: 600px;
    background-color: darkgrey;

    border: 2px solid grey;
    border-radius: 18px 32px;

    box-shadow: 2px 2px darkgreen;
}

.display-border {
    display: flex;
    justify-content: center;
    align-items: center;

    border: 2px solid grey;
    border-radius: 18px 32px;

    box-shadow: 4px 4px darkolivegreen;

    background-color: grey;
    margin-top: 12px;
    margin-bottom: 12px;

    width: 450px;
    height: 120px;
}

.display-green {
    display: flexbox;
    justify-content: center;
    align-items: center;

    border: 2px solid lightgreen;
    border-radius: 18px 32px;

    box-shadow: 4px 4px green;

    background-color: lightgreen;
    margin: 8px;
    margin-top: 20px;
    margin-bottom: 20px;

    width: 420px;
    height: 60px;
}



.buttons-border {
    flex-grow: 2;
    display: flex;
    flex-direction: column;
    
    margin: 8px;

    border: 2px solid grey;
    border-radius: 18px 32px;
    border-bottom: 0px;
    border-right: 0px;

    box-shadow: 4px 4px darkolivegreen;

    width: 450px;
    height: auto;
}


.buttons {
    display: flex;
    justify-content:space-around;
    align-items: center;
    flex: 1;


    padding: 0px 20px;
}

.button {
    margin: 8px 8px;

    border-radius: 8px 8px;
    transform: rotateX(18deg);
    
    box-shadow: 0px 4px darkolivegreen;
    opacity: 0.8;

}

.button:hover {
    opacity: 1;
    transition: 0.6s;
    box-shadow: 0px 2px darkolivegreen;
    transform: rotateX(45deg);
    transform: translateY(2px);
}

.button:active {
    box-shadow: 0px 0px;
    transition: 0.2s;
    opacity: 0.5;
}

.button-outer {
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 2px;

    background-color: darkkhaki;
    border-radius: 16px 16px;
    transform: rotateX(18deg);
}

.button-outer:hover {
        transform: rotateZ(2deg);
        transition: 0.2s;
        margin: 10px;
        padding: 2px;

        box-shadow: 4px 4px grey;
}

.button-outer:active {
    box-shadow: 0px 0px;
    transform: 0.2s;
}

.black {
    padding: 12px 32px;
}

.number {
    padding: 24px 32px;
}


