html,body {
    margin: 0;
    padding: 0;
    background-color: black;
    color: bisque;
}


.flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
}


.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    background-color: darkkhaki;
    border-radius: 18px 36px;

}

.display-border {
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 26px 26px;

    box-shadow: 2px 2px darkgrey;

    background-color: darkkhaki;

    margin: 12px 0px;

    opacity: 0.8;
}

.display-green {
    display: flexbox;
    justify-content: center;
    align-items: center;
    

    border-radius: 32px 32px;


    box-shadow: 2px 2px darkgrey;

    background-color: lightgreen;
    
    padding: 18px 120px;
    margin: 12px 0px;
    margin-left: 12px;

    color: bisque;
    font-weight: 500;
    font-style: oblique;
    font-family: sans-serif;
}



.buttons-border {
    flex-grow: 2;
    display: flex;
    flex-direction: column;
    background-color: darkkhaki;

    margin: 4px;
    padding: 12px;

    border-radius: 18px 36px;
    border-bottom: 0px;
    border-right: 0px;

    box-shadow: 2px 2px darkolivegreen;
    opacity: 0.8;

}

.buttons-border:hover {
    transition: 2s;
    opacity: 1;
}


.buttons {
    display: flex;
    justify-content:space-around;
    align-items: center;
    flex: 1;


    padding: 0px 20px;
}

.button {
    margin: 8px 8px;

    border-radius: 8px 8px;
    transform: rotateX(18deg);
    
    box-shadow: 0px 4px darkolivegreen;
    opacity: 0.8;

}

.button:hover {
    opacity: 1;
    box-shadow: 0px 2px darkolivegreen;
    transform: rotateX(45deg);
    transform: translateY(2px);
    transition: 0.2s;
}

.button:active {
    box-shadow: 0px 0px;
    transition: 0.2s;
    opacity: 0.5;
}

.button-outer {
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 2px;

    background-color: darkkhaki;
    border-radius: 16px 16px;
    transform: rotateX(18deg);
}

.button-outer:hover {
        transform: rotateZ(2deg);
        transition: 0.2s;
        margin: 10px;
        padding: 2px;

}

.button-outer:active {
    box-shadow: 0px 0px;

}

.cal {
    padding: 12px 28px;
}

.num {
    padding: 18px 28px;
}


.equals {
    padding: 12px 46px;
}

.dot {
    padding: 12px 18px;
}

.cal-sign {
    gap: 0px;
    margin: 8px 12px;

    color: darkgreen;
    text-shadow: 1px 1px green;
    box-shadow: 0px 2px darkolivegreen;
    border: 0px solid darkkhaki;
    border-radius: 8px 8px;

    padding: 8px 12px;
    font-weight: 200;
    font-style: oblique;
    font-size: 18px;
}